# default:
# CONFIG_MOTORS_ENABLED is not set
CONFIG_CREW=y
# default:
CONFIG_FUEL="kerosene"
# default:
CONFIG_LUNCH_SANDWICH=y
# default:
# CONFIG_LUNCH_PIZZA is not set
# default:
# CONFIG_LUNCH_SALAD is not set
